
@{
    ViewBag.Title = "Raporlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raporlar</h2>
<div class="col-md-8">
<iframe src="https://app.powerbi.com/view?r=eyJrIjoiNWQzM2QzN2MtYWI0NC00MGFhLWE0NjAtOWU5OTEzYTk0ODkyIiwidCI6ImZhMjA0YTQzLTE2NjItNDI5Ny1iOGU3LTY4ZWQ5YzRkNmIwNCIsImMiOjZ9" width="800" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
<div>
    <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYzUyNzMxOTItMWI0MC00N2Q1LTliODQtMDI3ZTAzODdlNWU2IiwidCI6ImZhMjA0YTQzLTE2NjItNDI5Ny1iOGU3LTY4ZWQ5YzRkNmIwNCIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>
</div>