
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<iframe src="https://app.powerbi.com/view?r=eyJrIjoiNWQzM2QzN2MtYWI0NC00MGFhLWE0NjAtOWU5OTEzYTk0ODkyIiwidCI6ImZhMjA0YTQzLTE2NjItNDI5Ny1iOGU3LTY4ZWQ5YzRkNmIwNCIsImMiOjZ9" width="800" height="600" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
